/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body,input,textarea,select
{
	font-size: 16pt;
}

.brahboards {
  left: -180px;
}

.chess {
  left: -90px;
}

#snake {
  left: -55px;
}